.page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 48;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }

  @media screen and (max-width: 1024px) {
    .page {
      max-width: 1024px;
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .page {
      max-width: 768px;
      padding: 0;
    }
  }

  @media screen and (max-width: 320px) {
    .page {
      min-width: 320px;
      padding: 0;
    }
  }
