.places {
    margin: 92px auto 0;
    width: 100%; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 92px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin: 88px auto 0;
    }
}