.lead__title {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    line-height: 1;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        width: 100%;
        font-size: 40px;
        line-height: 1.1;
    }
}