.place {
    max-width: 984px;
    width: 100%;
    margin: 0 auto 80px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(auto, 460px) minmax(auto, 484px);
    grid-template-columns: repeat(auto-fit, minmax(440, 1fr));
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    
}

.place:last-child {
    margin-bottom: 0;
}

 @media screen and (max-width: 1279px) {
    .place {
        grid-template-columns: minmax(auto, 440px) minmax(auto,456px);
        max-width: 928px;
        grid-column-gap: 32px;
    }
}

 @media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: minmax(auto, 340px) minmax(auto, 352px);
        max-width: 720px;
        grid-column-gap: 28px;
        margin-bottom: 73px;
    } 
 }

@media screen and (max-width: 767px) {
    .place {
        grid-template-rows: auto auto;
        grid-template-columns: minmax(auto, 340px);
        min-width: 320px;
        width: 100%;
        grid-row-gap: 32px;
        margin-bottom: 73px;
    }
} 